@import '../mixins.styl'
json('../variables.json')

.main
    display: flex;
    justify-content: flex-start;
    cursor: pointer;

.buttonWrapper
    box-sizing: border-box;
    border: 1px solid c-gray-d0;
    margin-left: -1px;
    &:first-child
        margin-left: 0;
        border-radius: 3px 0 0 3px;
    &:last-child
        border-radius: 0 3px 3px 0;
    &.checked
        position: relative;
        border-width: 0;
        padding: 1px;
        background-color: c-special;
        color: c-white;

.button
    padding: 5px 10px;
