@import '../mixins.styl'
json('../variables.json')

.main
    position: absolute
    left: 0
    right: 0
    top: 0
    box-sizing: border-box
    height: 50px
    z-index: header-z-index
    shadow: default
    background-color: c-white

.categories
    position: absolute
    left: 0;
    right: 50px;
    top: 0;
    bottom: 0;

.categoriesCover
    position: absolute
    left: 0;
    right: 50px;
    top: 0;
    bottom: 0;

.menuBtn
    position: absolute
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: 0;
    border-radius: 3px;
    &:hover
        background-color: c-gray-f8;
    &:focus
        background-color: c-white;
    .menuBtnSvg
        fill: c-main;

.menu
    z-index: menu-z-index;

.menuTile
    min-width: 200px;
    padding: 5px 0;

.menuItem
    display: block;
    text-decoration: none;
    color: c-gray-40;
    padding: 0 15px;
    line-height: 40px;
    cursor: pointer;
    &:hover
        background-color: c-hover-transparent
