@import '../mixins.styl'
json('../variables.json')

.main
    position: absolute
    left: 0
    right: 0
    top: 0
    padding: 0 10px
    height: 50px
    line-height: 50px
    z-index: header-z-index
    background-color: c-main
    color: c-white
