@import '../mixins.styl'
json('../variables.json')

.filter
    padding: 10px;
    &:hover
        background-color: c-gray-f8;

.filterName
    line-height: 24px;

.filterControl
    padding-top: 5px;
    display: block;

.checkbox
    float: left;
    margin-right: 5px;

.filterItem
    padding: 2px;
    border-bottom: 1px solid rgba(0,0,0,0.03);
    line-height: 24px;
    cursor: pointer;
