@import '../mixins.styl'
json('../variables.json')

.main
    box-sizing: border-box;
    padding: 10px 0
    display: flex
    justify-content center
    align-items: center
    .loadingSvg
        fill: c-main
        width: 20%
        height: 20%
