@import '../mixins.styl'
json('../variables.json')

.main
    display: flex;
    justify-content: center;
    align-items: center;

.themeDefault
    .checkboxSvg
        fill: c-special;

.themeWhite
    .checkboxSvg
        fill: c-special;
