@import '../mixins.styl'
json('../variables.json')

.main
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1px 0;
    overflow: auto;
    color: c-white;

.settings
    max-width: 800px;
    min-height: 40px;
    margin: 20px 0;

.checkbox
    float: left;
    height: 40px;
    width: 40px;
    cursor: pointer;

.text
    margin-left: 40px;

.title
    line-height: 40px;
    font-size: 15px;

.description
    margin-top: -5px;
    font-size: 12px;
