@import '../mixins.styl'
json('../variables.json')

.main
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: c-gray-d0;

.code
    font-size: 60px;

.text
    font-size: 30px;
