@import '../mixins.styl'
json('../variables.json')

.main
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    .loading
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        background-color: c-main
        .loadingSvg
            fill: c-special
    .moreLoading
        box-sixing: border-box;
        text-align: center;
        padding: 20px 0;
        width: 100%;
        .loadingSvg
            height: 50px;
            width: 50px;
            fill: c-white

.models
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
