@import '../mixins.styl'
json('../variables.json')

.main
    position: relative
    box-sizing: border-box
    max-width: 100%
    height: 50px
    float: left
    border: 0
    outline: 0
    +maxWidth(800px)
        width: 100%;
        padding-left: 50px;
    &.treeOpened
        .backBtn
            +maxWidth(800px)
                display: flex;

.list
    height: 50px;
    line-height: 50px;
    max-width: 100%;
    padding: 0 5px;
    z-index: categories-list-z-index
    cursor: pointer;
    &:hover
        background-color: c-hover-transparent;

.backBtn
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    &:hover
        background-color: c-hover-transparent

.popup
    position: fixed
    left: 0
    right: 0
    top: 50px
    height: 400px
    box-sizing: border-box;
    border-top: 1px solid c-main;
    z-index: tree-z-index
    shadow: default
    background-color: c-white
    +maxWidth(800px)
        height: auto;
        bottom: 0;
    +maxHeight(450px)
        height: auto;
        bottom: 0;
    .treeComponent
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 50px;
        border-bottom: 1px solid c-main
    .buttons
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 50px;
        padding: 0 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

.button
    margin-left: 10px
    min-width: 90px
    +maxWidth(800px)
        padding: 10px 15px;

.focusedCategoryName
    padding: 5px

.emptyPlaceholder
    padding: 0 10px

.loading
    height: 100%;
    padding: 0 10px
    display: flex;
    justify-content: flex-start;
    align-items: center;
    +maxWidth(800px)
        justify-content: center;
