@import '../mixins.styl'
json('../variables.json')

.main
    overflow: auto;

.loadingPanel
    height: 100%

.loading
    width: 100%
    &.fullHeight
        height: 100%


.columns
    display: flex
    height: 100%

.column
    border-right: 1px solid c-main
    overflow: auto
    min-width: 200px
    +maxWidth(800px)
        display: none
    &:last-child
        border-right: 0
        +maxWidth(800px)
            display: block
            width: 100%

.item
    line-height: 40px;
    padding: 0 10px;
    cursor: pointer;
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    margin-right: -1px
    &:hover
        background-color: hover-background-color;
    &.isActive
        background-color: c-main
        color: c-white
        cursor: default
        .arrowSvg
            fill: c-white

.arrow
    box-sizing: border-box
    float: right
    width: 40px
    height: 40px
    padding: 8px
    margin-right: -10px
    .arrowSvg
        fill: c-main
