@import '../mixins.styl'
json('../variables.json')

.filter
    padding: 10px;
    &:hover
        background-color: c-gray-f8;

.name
    line-height: 24px;

.control
    padding-top: 5px;
    display: block;

.inputs
    display: flex;
    justify-content: space-between;

.input
    width: 45%;
