@import '../mixins.styl'
json('../variables.json')

.main
    padding: 5px 0;
    display: block;
    .slider
        padding: 20px 0 10px;

.inputs
    display: flex;
    justify-content: space-between;

.input
    width: 45%;

