@import '../mixins.styl'
json('../variables.json')

.main
    display: block;
    padding: 10px;

.sliderTile
    width: 400px;
    margin: 10px 0;

.input
    width: 400px;
    margin: 10px 0;

.radioButton
    width: 400px;
    margin: 10px 0;
