@import '../mixins.styl'
json('../variables.json')

.main
    position: absolute
    left: -10px;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
    &.focused
        +maxWidth(850px)
            position: fixed;
            left: 0;
            top: 50px;
            background-color: c-main;
            .filterBtn
                display: none;
    .loading
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        background-color: c-main
        .loadingSvg
            fill: c-special


.filterBtn
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 30px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: c-special;
    +maxWidth(800px)
        display: flex;
    .filterBtnSvg
        fill: c-white;

.buttons
    text-align: center;
    padding: 10px 0;
    .button
        min-width: 120px;

.filters
    padding: 5px;

.filterWrapper
    box-sizing: border-box;
    padding: 5px;
    //border-bottom: 1px solid rgba(0,0,0,0.1);
    &:last-child
        border-bottom: 0;

.filter
    padding: 5px 0;

.filterNumeric
    display: block;

.filterBool
    display: block;
    .filterName
        cursor: pointer;

.filterName
    padding-bottom: 5px;
    line-height: 24px;

.checkbox
    float: left;
    margin-right: 5px;

.filterControl
    display: block;

.input
    margin: 0 -2px;
    padding: 5px 2px;
