@import '../mixins.styl'
json('../variables.json')

.main
    position: fixed
    left: 0
    right: 0
    top: 0
    bottom: 0
    font-family: Roboto, sans-serif
    color: c-gray-40
    font-size: fs-normal
    overflow: hidden

.page
    position: absolute
    left: 0
    right: 0
    top: 50px
    bottom: 0
    overflow: auto
    background-color: c-main
    &.modelsPage
        overflow: hidden;

.modelList
    position: absolute
    left: 0;
    right: 300px;
    top: 0;
    bottom: 0;
    +maxWidth(800px)
        right: 0;

.filters
    position: absolute
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    +maxWidth(800px)
        right: -300px;
