@import '../mixins.styl'
json('../variables.json')

.main
    display: block;
    position: absolute;

.positionMainTop
    bottom: 100%;

.positionMainBottom
    top: 100%;

.positionMainLeft
    right: 100%;

.positionMainRight
    left: 100%;

.positionSpecificTop
    top: 0;

.positionSpecificBottom
    bottom: 0;

.positionSpecificLeft
    left: 0;

.positionSpecificRight
    right: 0;
